header{
    width: auto;
    height: 100px;
    background-image: url('../img/pattern.png');
    background-color: rgb(91, 171, 233);
    background-size: 30%;
}

.grey{
    color: darkgrey;
}

.img{
    height: 50px;
    margin-top: 40px;
}

.the-booleaner{
    color: rgb(91, 171, 233);
}

.date{
    font-size: .65rem;
}

.photo-description{
    font-size: .65rem;
}

.yellow{
    background-color: yellow;
}

.table-head{
    color: white;
    background-color: rgb(30, 144, 255);
}

.row{
    background-color: rgb(198, 233, 249);
}

#last-column{
    text-align: start;
}